.button-up {
    background: url("../../images/top_arrow.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    width: 40px;
    right: 8px;
    bottom: 5px;
    display: none;
    position: fixed;
    z-index: 95;
    border: none;
}

.button-up:hover {
    cursor: pointer;
}