.products-card__discount {
    background: #9174ce none repeat scroll 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    padding: 0 2px;
    font-weight: 600;
    margin: 0 5px 0 5px;
}