.top {
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 30px;
}

@media screen and (max-width: 1024px) {
    .top {
        justify-content: flex-end;
    }
}