.page {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    background: url('../../images/bg.jpg') fixed;
}