.banners__banner-info {
    color: #9174ce;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    background: #fff;
    padding: 2px 10px;
    letter-spacing: 1.4px;
    border-radius: 5px;
    margin: 0 0 14px 0;
    display: inline-block;
}
