.banner-carousel {
    display: flex;
    align-items: center;
    position: relative;
    /*width: 802px;*/
    width: 100%;
    height: 100%;
    grid-column: span 2;
    grid-row: span 2;
}

.banner-carousel {
    cursor: pointer;
}

.banner-carousel:hover > .banner-carousel__carousel-button_type_next{
    right: 10px;
    opacity: 1;
}

.banner-carousel:hover > .banner-carousel__carousel-button_type_prev{
    left: 10px;
    opacity: 1;
}



