.sub-banners__banner {
    position: relative;
}

.sub-banners__banner::before {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 100%;
    top: 0;
    transition: all 0.45s ease 0s;
}


.sub-banners__banner::after {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.45s ease 0s;
}

.sub-banners__banner:hover::before {
    right: 50%;
    opacity: 1;
}

.sub-banners__banner:hover::after {
    left: 50%;
    opacity: 1;
}