.sub-banners {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .sub-banners {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}