.sub-banners__banner-title {
    color: #010101;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    display: inline-block;
    margin: 0 0 10px 0;
}

@media screen and (max-width: 1024px) {
    .sub-banners__banner-title {
        font-size: 14px;
        margin-bottom: 8px;
    }
}