.options__item-img-box {
    background-color: #9174ce;
    border: 1px solid #9174ce;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    margin: 0 10px 0 0;
    position: relative;
}

.options__item-img-box:hover {
    background-color: #000;
}

.options__item-img-box:hover > .options__item-img{
    background-color: #000;
    transform: rotate(360deg);
    transition: transform 0.9s;
}