.products-card__open-popup {
    font-size: 15px;
    color: #999;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}

.products-card__open-popup:hover {
    cursor: pointer;
}

