.bottom__copyright {
    color: #838383;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .bottom__copyright {
        margin-bottom: 5px;
    }
}