.banners__banner-content {
    position: absolute;
    right: 5.7%;
    top: 50%;
    transform: translateY(-50%);
    min-width: 238px;
}

@media screen and (max-width: 1024px) {
    .banners__banner-content {
        min-width: 20px;
    }
}