.sub-banners__banner-text {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .sub-banners__banner-text {
        font-size: 12px;
        line-height: 14px;
    }
}