.footer__list-item-link {
    text-decoration: none;
    color: #808080;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1.3px;

    display: flex;
    align-items: center;
}

.footer__list-item-link:hover {
    color: #9174ce;
}

.footer__list-item-link:hover > .footer__list-item-img {
    background: no-repeat url("../../../images/footer-arrow-hover.png");
}