.header__container {
    min-height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

@media screen and (max-width: 1024px) {
    .header__container {
        flex-direction: column;
        justify-content: center;
        min-height: 119px;
    }
}
