.banners__banner-content_type_offer-banner {
    max-width: 372px;
    left: 35.5%;
}

@media screen and (max-width: 1024px) {
    .banners__banner-content_type_offer-banner {
        max-width: 214px;
    }
}