.blog-card__text {
    color: #131414;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    margin: 0;
    text-decoration: none;
}

.blog-card__text:hover {
    color: #9174ce;
    cursor: pointer;
}
