.options__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.options__item::after {
    border-left: 1px solid #eaeaea;
    content: "";
    height: 35px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.options__item:last-child::after {
    height: 0;
}

@media screen and (max-width: 1024px) {
    .options__item {
        margin: 24px 0 19px 0;
    }

    .options__item:nth-child(2n)::after {
        height: 0;
    }

}

@media screen and (max-width: 768px) {
    .options__item::after {
        height: 0;
    }

    .options__item {
        justify-content: flex-start;
    }

}